body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
}
/* header section  */
.container {
    margin: 0px 120px 0px;
}
.header-seciton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
}
.header-title h4 {
    font-size: 24px;
    font-weight: bold;
    color: #3a3a3a;
    line-height: 24px;
}
.header-right {
    display: flex;
}
.header-pages a {
    margin-right: 34px;
    text-decoration: none;
    color: #3a3a3a;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.header-icon i {
    color: #3a3a3a;
    line-height: 24px;
    font-size: 20px;
    margin-right: 34px;
}
.header-icon .fas.shoppgin-icon {
    font-size: 30px;
}

/* strat your journey section  
*/
.start-journey-section {
    display: flex;
    justify-content: space-around;
    line-height: 24px;
    margin-top: 85px;
}
.start-left {
    Width:  582px;
}
.start-left .start-title {
    font-size: 32px;
    color: #3a3a3a;
    line-height: 70px;
}
.start-description button {
    background-color: #E02C6D;
    padding: 12px 24px;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
}
.start-description button span {
    margin-right: 5px;
}
/* conpany icon section */
.company-setion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 85px 165px 85px;
    padding: 20px 30px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(#ffffff, #aaaaaa, #ffffff) 15;
}
.company-setion img {
    width: 80px;
}

/* popular-collection  */
.popular-collection {
    margin: 85px 30px 85px;
}
.popular-collection h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600px;
    line-height: 70px;
    color: #3a3a3a;
    margin-bottom: 30px;
}
.all-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 50px;
}
.product {
    padding: 15px;
    box-shadow: 0px 0px 20px -5px  #8a8383;
    width: 300px;
    border-radius: 5px;
}
.product img {
    text-align: center;
    width: 300px;
}
.product-details h3 {
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0px;
}
.product-details p {
    color: rgba(0, 0, 0, 0.87);
    font-size: 28px;
    font-weight: 400;
    margin: 5px 0px;
}
.product-money i {
    margin-right: 5px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.ratings .filled {
    color: #FB8200;
    font-size: 1em;
}
.buying-info p {
    font-size: 14px;
    font-weight: bold;
    color: #787885;
}
.see-more {
    color:#E02C6D;
    font-weight: bold;
    text-align: right;
}
/* best-selling  */
.best-sell-title h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.best-sell-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 85px;
}
#best-product {
    width: 200px;
}
#best-product img {
    width: 200px;
    height: 220px;
}
#best-product-details h3 {
    font-size: 24px;
}

.cut-product-money {
    text-decoration: line-through;
    color: rgb(219, 59, 59);
}
.best-product-money {
    font-size: 20px;
}
#big-sell-see-more {
    margin-right: 45px;
    margin-top: 0px;
    margin-bottom: 40px;
}
/* footer section  */
footer {
    padding: 50px 500px;
    background-color: #0A0826;
}
.footer-section {
    width: 300px;
    text-align: center;
}
.footer-section h3 {
    color: #ffffff;
    line-height: 10px;
}
.footer-section span {
    color: #ffffff;
    text-align: left;
}
.footer-social-icon i {
    font-size: 20px;
    color: #ffffff;
    background-color: #22213C;
    width: 20px;
    padding: 15px;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 5px;

}